@media only screen and (max-width: 1380px) {

	#cartSum {
		position: absolute;
		top: 12px;
		margin-right: 45%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 200px;
	}

	#cartSum2 {
		position: absolute;
		top: 34px;
		margin-right: 45%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 108px;
	}

	#cartSum #cart {
		width: 25px;
		height: 20px;
		border: none;
		background-color: #444;
		background: url(../assets/images/symbols/cart_dkgr.png);
		background-repeat: no-repeat;
		background-position: right 0em top 90%;
	}

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

	#cartSum {
		position: absolute;
		top: 12px;
		margin-right: 45%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 100px;
	}

	#cartSum2 {
		position: absolute;
		top: 34px;
		margin-right: 45%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 108px;
	}

	#cartSum #cart {
		width: 25px;
		height: 20px;
		border: none;
		background-color: #444;
		background: url(../assets/images/symbols/cart_dkgr.png);
		background-repeat: no-repeat;
		background-position: right 0em top 90%;
	}

}

@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

	#cartSum {
		position: absolute;
		top: 51px;
		margin-right: 45%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 100px;
	}

	#cartSum2 {
		position: absolute;
		top: 56px;
		margin-left: 35%;
		font-size: 12px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
		background-color: #444;
		height: 20px;
		width: 108px;
	}

	#cartSum #cart {
		width: 25px;
		height: 20px;
		border: none;
		background-color: #444;
		background: url(../assets/images/symbols/cart_dkgr.png);
		background-repeat: no-repeat;
		background-position: right 0em top 90%;
	}

}