@font-face {
	font-family: OpenSans;
	src: url(./OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

    #main {
        background-color: #444;
        height: 100%;
    }

    #wrapper {
        background-color: #444;
        height: 490px;
    }

    #heading {
        font-family: OpenSans; /*Segoe Print*/
        font-weight: bold;
        font-size: 36px;
        background-color: #444;
        color: #fff;
        height: 61px;
    }

    .input {
        width: 100px;
    }

    h2 {
        margin-left: 0%;
        font-family: OpenSans;
        font-weight: bold;
    }

    h3 {
        position: absolute;
        top: 58px;
        left: 37%;
        width: 340px;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-align: center;
    }

    #text {
        position: absolute;
        top: 120px;
        width: 40%;
        font-family: OpenSans;
        background-color: #444;
        color: #ccc;
        text-align: left;
        margin-left: 36%;
    }

    h4 {
        position: absolute;
        top: 170px;
        width: 40%;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-align: left;
        margin-left: 46%;
    }

    #wrapper #backToShop {
        position: absolute;
        top: 2%;
        right: 1%;
        height: 20px;
        width: 120px;
        background-color:#444;
        color: #fff;
        border: none;
        font-family: OpenSans;
    }

    #footer {
        position: relative;
        height: 80px;
        background-color: #777;
        z-index: 2;
    }

    #productTable {
        position: relative;
        top: 180px;
        font-family: OpenSans;
        font-size: 14px;
        padding-left: 30%;
        padding-right: 30%;
        /*border: 1px solid #000;*/
        background-color:#444;
        color:#fff;
        z-index: 3;
    }

    td {
        text-indent: 4px;
        border: none;
    }

    td #a1 {
        width:12%;
        color: #bbb;
    }

    td #a2 {
        width:48%;
        color:#bbb;
    }

    td #s {
        width:4%;
        color:#bbb;
    }

    td #q {
        width:4%;
        color: #bbb;
    }

    td #pr {
        width:32%;
        color: #bbb;
    }

    tr #row {
        background-color: #777; /*rgb(168, 103, 243); rgb(101, 91, 238);*/
        color:#fff;
        width:100%;
    }

    #tableHeader {
        background-color: #444;
        color:#ccc;
    }

    td #order {
        width:20%;
        color: #777;
        background-color: #444;
    }

    td #order2 {
        width:80%;
        color: #777;
        background-color: #444;
    }

    td #order3 {
        width:20%;
        color: #777;
        background-color: #444;
    }

    td #order4 {
        width:80%;
        color: #777;
        background-color: #444;
    }

    #tableFooter {
        background-color: #444;
        color:#ccc;
    }

    #tableFooter #t {
        width:20%;
        color:#bbb;
    }

    #tableFooter #t2 {
        width:40%;
        color:#fff;
    }

    #tableFooter #t3 {
        width:20%;
        color:#fff;
    }

    #tableFooter #t4 {
        width:8%;
        color:#fff;
    }

    #tableFooter #total {
        width:12%;
        color: #bbb;
    }

    #addressTable {
        position: relative;
        top: 160px;
        width: 40%;
        font-family: OpenSans;
        font-size: 13px;
        text-indent: 4px;
    }

    #addressTable #headers {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 13px;
        border: none;
        color: #ccc;
    }

    #addressTable #addresses {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 13px;
        color: #fff;
    }

    #addressTable #rows {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 13px;
        color: #fff;
    }

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

    h3 {
        position: absolute;
        top: 58px;
        left: 12%;
        width: 340px;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-align: center;
    }

}

@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

    h3 {
        position: absolute;
        top: 58px;
        left: 33px;
        width: 300px;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-align: center;
    }

    h4 {
        position: absolute;
        top: 190px;
        width: 40%;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-align: left;
        margin-left: 36%;
    }

    #text {
        position: absolute;
        top: 120px;
        width: 76%;
        font-family: OpenSans;
        background-color: #444;
        color: #ccc;
        text-align: left;
        margin-left: 15%;
    }

    #productTable {
        position: relative;
        top: 210px;
        font-family: OpenSans;
        font-size: 11px;
        padding-left: 0%;
        padding-right: 0%;
        background-color:#444;
        color:#fff;
        z-index: 3;
    }

    #addressTable {
        position: relative;
        top: 190px;
        width: 320px;
        font-family: OpenSans;
        font-size: 9px;
        text-indent: 4px;
    }

    #addressTable #headers {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 11px;
        border: none;
        color: #ccc;
    }

    #addressTable #addresses {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 11px;
        color: #fff;
    }

    #addressTable #rows {
        text-indent: 4px;
        font-family: OpenSans;
        font-size: 11px;
        color: #fff;
    }

}



    



