<div id="main">
    <logo></logo>
    <cartPreview></cartPreview>
    <navigationBar></navigationBar>
<div id="wrapper">

    <h2>{{ getProd()[divId].article }}</h2>

    <div align ="left" id="imagediv">
        <img src="{{getProd()[divId].imageUrl2}}" (click)="magnify()" width="319px" height="258px"/>
    </div>  
    
    <div id="text">
        {{ getProd()[divId].descr }}
        <br><br>
        Manufacturer: {{getProd()[divId].brand}}
    </div>

    <div id="price">
        {{ getProd()[divId].price }} £
    </div>

    <div id="articleNumber">
        Article No: {{ getProd()[divId].articleNr }}
    </div>

    <button id="addToCart" (click)="addToCart()">{{'ADD TO CART'}}</button>
    
    <ul align="center">
            <li>
                Materials
            </li>
            <li>
                In stock
            </li>
            <li>
                Available in several colors
            </li>
            <li>
                Shipping possible within Europe
            </li>
    </ul>
        
    
    <div id="sizes">
        Size
            <span id="optionTitle">Select size: </span>
            <select id="options" class="form-control" [value]="s" (change)="onSelect($event.target.value)">
            <option class="spantext" *ngFor="let s of sizes; let i=index">{{s}}</option>
            </select>
    </div>

    <div id="colors">
        Available Colors
            <span id="optionTitle">Select color: </span>
            <select id="options" class="form-control" [value]="c" (change)="onSelect2($event.target.value)">
            <option class="spantext" *ngFor="let c of colors; let i=index">{{c}}</option>
            </select>
    </div>

    <button id="enlarge" (click)="magnify()">Enlarge image</button>
    <div id="imageZoom" *ngIf="enlarge" (click)="return()">
            <div align ="center" id="enlargedImage">
                    <img src="{{getProd()[divId].imageUrl2}}" />
            </div> 
    </div>

<button id="backToShop" routerLink="/shop">Return to shop</button>

 
</div>

<div id="footer">
    
</div>

</div>