@font-face {
	font-family: OpenSans;
	src: url(../OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

    #searchTitle {
        position: absolute;
        top: 24px;
        left: 30px;
        color: #fff;
        background-color: #444;
        font-family: OpenSans;
        font-weight: plain;
        font-size: 24px;
    }

	#main {
		background-color: #444;
		height: 100%;
		min-height: 660px;
	}

	#heading {
		margin-bottom: 12px;
		font-family: OpenSans; /*Segoe Print*/
		font-weight: bold;
		font-size: 36px;
		background-color: #444;
		color: #fff;
	}

	a {
		text-decoration: none;
		color: #006eff;
	}

	img {
		margin-top: 20px;
	}

	#wrapper {
		width: 100%;
		height: 80%;
		margin-bottom: 0%;
		/*background: -webkit-linear-gradient(top, #000000 1%, #C0C0C0 100%);*/ /* proffsig skiftning (inkl heading och main i svart)*/
		background-color: #444;  /* proffsig, kvinnlig design, rosa: #f81bdb; tänkbar lavender: #c51bf8*/
	}

	#carddiv {
		padding-left: 13%;
		padding-right: 2%;
		height: 124px;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
		//opacity: 0.6;
	}

	#carddiv:hover{ 
		background-color: #222;
		color: #fff;
	}

	#carddiv #imagediv {
		float: left;
		width: 20%;
	}

	#carddiv #imagediv #image {
		position: relative;
		top: 80%;
		vertical-align: center;
	}

	#carddiv #textdiv {
		display: block;
		float: left;
		width: 60%;
		margin-left: 20px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 20px;
		font-weight: bold;
		font-family: OpenSans;
	}

	#carddiv #pricediv {
		display: block;
		width: 12%;
		margin-top: 20px;
		position: relative;
		text-align: center;
		float: right;
		font-size: 14px;
		font-family: OpenSans;
		font-weight: bold;
		color: #fff;
	}

	#carddiv #pricediv #addToCart {
		width: 20%;
		position: relative;
		top: 16px;
		height: 20px;
		width: 80px;
		margin-right: 8px;
		text-align: center;
		border: none;
		float: right;
		font-size: 10px;
		font-family: OpenSans;
		font-weight: plain;
		color: #fff;
		background-color: #444;
	}

	#carddiv #textdiv #brand {
		margin-top: 12px;
		font-size: 14px;
		color: #999;
	}

	#carddiv #textdiv #description {
		font-size: 12px;
		font-weight: plain;
		color: #777;
	}

	#carddiv #textdiv #department {
		color: #3375d1;
	}

	#carddiv #textdiv #department #division {
		font-size: 12px;
	}

	#departmentsdiv {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		top: 40px;
		margin-top: 20px;
		margin-left: 4%;
    }
    
	#departments {
		display: block;
		position: relative;
		top: 2px;
		margin-bottom: 12px;
		height: 30px;
		width: 120px;
		border: 1px solid #777;
		background-color: #aaa;
		color: #fff;
	}

	#departments:hover{ 
		background-color: #444;
		color: #fff;
	}

	#bottom {
		position: relative;
		top: 90%;
		width: 100%;
		height: 20%;
		margin-bottom: 5%;
		background-color: #444;
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 20%;
		color: #fff;
	}

	#bottom #optionMenu #optionTitle {
		font-family: OpenSans;
		font-size: 12px;
	}

	#bottom #optionMenu #options {
		font-family: OpenSans;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom option {
		font-family: OpenSans;
		background-color: #444;
		color: #fff;
		border: 1px solid #ccc;
    }

	#bottom #pagesdiv {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 45%;
	}

	#bottom #pages {
		position: relative;
		top: -30px;
		left: 380px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #pages.active {
		background-color: #ddd;
		color: #000;
	}

	#bottom #backToShop {
		position: relative;
		top: 48px;
		/*left: -300px;*/
		margin-left: 46%;
		height: 30px;
		width: 120px;
		border: 1px solid #777;
		background-color: #777;
		color: #fff;
		z-index: 3;
	}

	#footer {
		width: 100%;
		height: 20%;
		background-color: #444;
	}

}

@media (min-width: 880px) and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 2%;
		margin-right: 20px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 2px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

}


@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

	#carddiv {
		padding-left: 2%;
		padding-right: 8%;
		height: 100px;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 20px;
		margin-right: 2px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
		width: 240px;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 2%;
		color: #fff;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 32px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #admin {
		display: none;
	}

}



