 <div id="main">
    <!--<userStatus></userStatus>-->
    <sidebar></sidebar>
    <div id="msg" align="center">Change password</div>
    <form novalidate #form="ngForm" [formGroup]="passwordForm" (ngSubmit)="updatePassword(form.value, id)" name="form">
        <fieldset>
        <input type="password" formControlName="pswd" id="pswd" name="pswd" placeholder="Password" autocomplete="off"/><br/>
        <div *ngIf="passwordForm.get('pswd').errors.pattern && passwordForm.get('pswd').touched" id="error">
            <span></span>
            <p>
            {{passwordForm.get('pswd').errors.pattern.msg || 'Password must contain a special character (!"#¤%&/()=?@£$), a number (0-9) and a cap (A-Z)'}}
            </p>
        </div>
        <div *ngIf="passwordForm.get('pswd').errors.required && passwordForm.get('pswd').touched" id="error">
                <span></span>
                <p>
                {{passwordForm.get('pswd').errors.required.msg || 'You must enter a password'}}
                </p>
        </div>
                <div *ngIf="passwordForm.get('pswd').errors.minlength && passwordForm.get('pswd').touched" id="error">
                <span></span>
                <p>
                {{passwordForm.get('pswd').errors.minlength.msg || 'Password must be at least 6 characters long'}}
                </p>
        </div>
        <div *ngIf="passwordForm.get('pswd').errors.maxlength && passwordForm.get('pswd').touched" id="error">
                <span></span>
                <p>
                {{registerForm.get('pswd').errors.maxlength.msg || 'Password cannot be longer than 12 characters'}}
                </p>
        </div>

        <input type="password" formControlName="pswd_confirm" id="pswd_confirm" name="pswd_confirm" placeholder="Confirm password" autocomplete="off"/><br/>  
        <div *ngIf="passwordForm.get('pswd_confirm').errors.required && passwordForm.get('pswd_confirm').touched" id="error">
            <span></span>
            <p>
            {{passwordForm.get('pswd_confirm').errors.required.msg || 'You must enter a password'}}
            </p>
        </div>
        <div *ngIf="passwordForm.get('pswd_confirm').errors.minlength && passwordForm.get('pswd_confirm').touched" id="error">
                <span></span>
                <p>
                {{passwordForm.get('pswd_confirm').errors.minlength.msg || 'Password must be at least 6 characters long'}}
                </p>
        </div>
        <div *ngIf="passwordForm.get('pswd_confirm').errors.maxlength && passwordForm.get('pswd_confirm').touched" id="error">
                <span></span>
                <p>
                {{registerForm.get('pswd_confirm').errors.maxlength.msg || 'Password cannot be longer than 12 characters'}}
                </p>
        </div>

        <div>
            <button id="updateUser" type="submit" (click)="updatePassword(form.value, id)">Change Password</button>
            <button id="reset" type="reset" (click)="reset()">Reset</button>
        </div>
        </fieldset> 
    </form>
    <div *ngIf="error" id="error">{{errorMessage}}</div>
</div>