@font-face {
	font-family: OpenSans;
	src: url(../OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

    #main {
        background-color: #000;
        height: 100%;
        width: 100%;
        min-height: 904px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: plain;
        color: #fff;
    }

    #backgrImage {
		position: fixed;
        top: 0px;
        left: 8px;
		opacity: 0.4;
		height: 660px;
	}

    #msg {
		position: absolute;
		top: 24px;
        margin-left: 43%;
        font-family: OpenSans;
        font-size: 24px;
		font-weight: plain;
    }

    #heading {
        font-family: OpenSans; /*Segoe Print*/
        font-weight: bold;
        font-size: 36px;
        background-color: #444;
        color: #fff;
        height: 61px;
    }

    h4 {
        position: absolute;
        top: 200px;
        width: 640px;
        font-family: OpenSans;
        background-color: #777;
        color: #fff;
        text-align: left;
        margin-left: 40%;
    }

    #reviews {
        position: relative;
        top: 70px;
        width: 40%;
        height: 330px;
        margin-left: 29%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #ccc;
        box-shadow: 0px 12px 9px rgba(0,0,0,0.25);
        margin-bottom: 20px;
    }

    #rheader {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        margin-top: 4px;
        margin-left: 8px;
    }

    #rarticle {
        font-family: OpenSans;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        margin-top: 4px;
        //margin-left: 8px;
        width: 100%;
        height: 26px;
        background-color: #777;
    }

    #rarticleNr {
        font-family: OpenSans;
        font-size: 13px;
        font-weight: bold;
        color: #000;
        margin-top: 4px;
        margin-left: 8px;
    }

    #rstars {
        font-family: OpenSans;
        font-size: 36px;
        color: rgb(255, 255, 0);
        margin-left: 8px;
    }

    #rtitle {
        font-family: OpenSans;
        font-size: 17px;
        color:rgb(41, 21, 214);
        margin-left: 8px;
    }

    #rtext {
        font-family: OpenSans;
        font-size: 13px;
        color: #000;
        margin-top: 8px;
    }

    #rimage {
        margin-left: 40%;
        margin-top: 16px;
    }
    

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

    #imagediv {
        display: none;
    }

    #main {
        background-color: #444;
        height: 100%;
    }

    #wrapper {
        position: relative;
        top: 8px;
        background-color: #000;
        height: 490px;
    }

    h2 {
        position: absolute;
        top: 30px;
        left: 19%;
        width: 240px;
        font-family: OpenSans;
        background-color: #000;
        color: #fff;
    }

    #imagediv {
        display: none;
    }

    #text {
        position: absolute;
        top: 130px;
        width: 82%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
        text-align: left;
        margin-left: 9%;
    }

    #price {
        position: absolute;
        top: 230px;
        width: 60%;
        margin-left: 9%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #articleNumber {
        position: absolute;
        top: 270px;
        width: 60%;
        margin-left: 9%;
        font-family: OpenSans;
        font-size: 12px;
        background-color: #000;
        color: #fff;
    }

    #sizes {
        position: absolute;
        top: 230px;
        margin-left: 52%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #sizes #optionTitle {
        display: none;
    }

    #sizes #options {
        position: absolute;
        top: 32px;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
    }

    #colors {
        position: absolute;
        top: 230px;
        margin-left: 68%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #colors #optionTitle {
        display: none;
    }

    #colors #options {
        position: absolute;
        top: 32px;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
    }

    ul {
        position: absolute;
        top: 350px;
        width: 40%;
        margin-left: 4%;
        font-family: OpenSans;
    }

    li {
        background-color: #000;
        color: #fff;
        width:100%;
        font-size: 12px;
        text-align: left;
    }

    #wrapper #addToCart {
        width: 20%;
        position: absolute;
        top: 310px;
        height: 30px;
        width: 100px;
        margin-left: 9%;
        text-align: center;
        border: none;
        float: right;
        font-size: 11px;
        font-family: OpenSans;
        font-weight: plain;
        color: #fff;
        background-color: #777;
        border-radius: 4px;
    }

    #enlarge {
        position: absolute;
        margin-left: 46%;
        top: 368px;
        height: 20px;
        width: 120px;
        background-color:#444;
        color: #fff;
        border: none;
        font-family: OpenSans;
    }

    #wrapper #backToShop {
        position: absolute;
        top: 440px;
        margin-left: 58%;
        height: 30px;
        width: 120px;
        border: 1px solid #777;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
        z-index: 3;
    }
}

@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

    #main {
        background-color: #444;
        height: 100%;
    }

    #wrapper {
        position: relative;
        top: 8px;
        background-color: #000;
        height: 490px;
    }

    h2 {
        position: absolute;
        top: 30px;
        left: 19%;
        width: 240px;
        font-family: OpenSans;
        background-color: #000;
        color: #fff;
    }

    #imagediv {
        display: none;
    }

    #text {
        position: absolute;
        top: 130px;
        width: 82%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
        text-align: left;
        margin-left: 9%;
    }

    #price {
        position: absolute;
        top: 230px;
        width: 60%;
        margin-left: 9%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #articleNumber {
        position: absolute;
        top: 270px;
        width: 60%;
        margin-left: 9%;
        font-family: OpenSans;
        font-size: 12px;
        background-color: #000;
        color: #fff;
    }

    #sizes {
        position: absolute;
        top: 230px;
        margin-left: 52%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #sizes #optionTitle {
        display: none;
    }

    #sizes #options {
        position: absolute;
        top: 32px;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
    }

    #colors {
        position: absolute;
        top: 230px;
        margin-left: 68%;
        font-family: OpenSans;
        font-size: 14px;
        background-color: #000;
        color: #fff;
    }

    #colors #optionTitle {
        display: none;
    }

    #colors #options {
        position: absolute;
        top: 32px;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
    }

    ul {
        position: absolute;
        top: 350px;
        width: 40%;
        margin-left: 4%;
        font-family: OpenSans;
    }

    li {
        background-color: #000;
        color: #fff;
        width:100%;
        font-size: 12px;
        text-align: left;
    }

    #wrapper #addToCart {
        width: 20%;
        position: absolute;
        top: 310px;
        height: 30px;
        width: 100px;
        margin-left: 9%;
        text-align: center;
        border: none;
        float: right;
        font-size: 11px;
        font-family: OpenSans;
        font-weight: plain;
        color: #fff;
        background-color: #777;
        border-radius: 4px;
    }

    #imageZoom {
        display: none;
    }

    #enlarge {
        display: none;
    }

    #wrapper #backToShop {
        position: absolute;
        top: 440px;
        margin-left: 58%;
        height: 30px;
        width: 120px;
        border: 1px solid #777;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
        z-index: 3;
    }

}


