@font-face {
	font-family: OpenSans;
	src: url(./OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

	#txt {
		position: absolute;
		top: 24px;
		font-family: OpenSans;
        font-size: 24px;
		font-weight: plain;
		margin-left: 40%;
		color: #fff;
	}

	#msg {
		position: absolute;
		top: 64px;
		margin-left: 42%;
		color: #ddd;
		font-size: 14px;
		font-family: OpenSans;
	}

	#main {
		background-color: #000;
		height: 100%;
        min-height: 660px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: plain;
		color: #fff;
	}

	img {
		position: absolute;
        top: 0px;
        left: 8px;
		opacity: 0.4;
		height: 660px;
	}

    #error {
        position: absolute;
		top: 156px;
		margin-left: 16px;
		color: #bbb;
		font-size: 12px;
		font-family: OpenSans;
    }

    #title {
        margin-left: 8px;
        font-family: OpenSans;
        font-size: 20px;
        font-weight: bold;
    }

	input {
		margin-left: 16px;
		margin-top: 16px;
		background-color: transparent;
		color: #fff;
		border-bottom: 1px solid #fff;
		border-top: none;
		border-left: none;
		border-right: none;
		font-size: 16px;
		font-family: OpenSans;
	}

	input::placeholder {
		color: #ddd;
		font-family: OpenSans;
	}
	
	button #backToShop{
		opacity: 0.4;
	}

	p {
		margin-left: 8px;
	}
	
	form {
        display: block;
        float: bottom;
        font-family: OpenSans;
        position: absolute;
        top: 140px;
        width: 20%;
        margin-left: 42%;
    }
    
	#backToShop {
		position: absolute;
        top: 600px;
        margin-left: 45%;
        height: 30px;
        width: 120px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-family: OpenSans;
        z-index: 3;
    }

	#bottom {
		position: relative;
		top: 90%;
		width: 100%;
		height: 20%;
		margin-bottom: 5%;
		background-color: #444;
	}

	#placeOrder {
		position: absolute;
		top: 390px;
		left: 38%;
		color: #fff;
		border: 1px solid rgb(0, 255, 0);
        background-color: transparent;
		width: 140px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
	}

	#reset {
		position: relative;
		top: 363px;
		left: 664px;
		color: #fff;
		border: 1px solid rgb(41, 21, 214);
        background-color: transparent;
		width: 140px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
	}

	#footer {
        position: relative;
        background-color: #444;
        height: 92px;
    }

}

@media (min-width: 880px) and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 2%;
		margin-right: 20px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 2px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

}


@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

	#carddiv {
		padding-left: 2%;
		padding-right: 8%;
		height: 100px;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 20px;
		margin-right: 2px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
		width: 240px;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 2%;
		color: #fff;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 32px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #admin {
		display: none;
	}

}



