<div id="main">
    <userStatus></userStatus>
    <sidebar></sidebar>
<div id="orderArea">
    <div id="msg" align="center">Your Orders</div>
    <div id="orderdiv" *ngFor="let order of getOrders(); let i = index">
        <div id="tableHeader">
            <div id="a1" align="center">Order #{{ order.ordernumber }}</div>
        </div>
        <td id="ordnr">Order details</td>
        <td id="ordinfo">{{ order.date }}</td>
        <td id="ordinfo">{{ order.firstname }} {{ order.lastname }}</td>
        <td id="ordinfo"></td>
        <tr id="ar">Articles:</tr>
     
            <tr *ngFor="let a of order.articles; let j = index" (click)="reviewOrder(i, j)" >
                <td id="square">
                    {{ a.article }}<br>
                </td>
                <td>
                    <img [src] = "a.imageUrl"/>
                </td>
                <td id="properties" align="left">
                    Size: <br>
                    Color: <br>
                    Quantity: 
                </td>
                <td align="left">
                    {{ a.size }}<br>
                    {{ a.color }}<br>
                    {{ a.quantity }}
                </td>
            </tr>
        <td id="costs">Total: {{ order.total + "  £"}}</td>
        <td id="costs">VAT: {{ order.VAT + "  £"}}</td>
        <td id="costs">Shipped: {{ order.shipped }}</td>
        <button (click)="deleteOrder(i)" id="cancelButton">Cancel order</button>
    </div>
</div>
    <div id="reviews">
            <div id="reviewheading" align="center">
                Your review on the product:<br/>
                <span>{{ product.article }}<br/></span>
            </div>
            <form novalidate #form="ngForm" (ngSubmit)="submit(form.value)" name="form">
                <label>Review title:</label><br/>
                <input type="text" (ngModel)="review.title" id="rtitle" name="title" placeholder="Enter title" /><br/>
                <label>Review text:</label><br/>
                <textarea type="text" (ngModel)="review.text" id="rtext" name="text" placeholder="Enter review" rows="6"></textarea><br/>
                <label>Rating:</label><br/>
                <select id="rrating" class="form-control" name="rating" (ngModel)="review.rating">
                    <option disabled value="">(Rate the product)</option>
                    <option id="rrating" class="spantext"  *ngFor="let rating of ratingstars; let i = index" >{{rating}}</option>
                </select>
                <div align="center">
                <input id="submit" type="submit" value="Submit review">
                </div>
            </form>
    </div>
</div>