@font-face {
	font-family: OpenSans;
	src: url(./OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

	#main {
		background-color: #000;
		height: 100%;
        min-height: 660px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: plain;
        color: #fff;
	}

	img {
		position: absolute;
        top: 0px;
        left: 8px;
		opacity: 0.4;
		height: 660px;
	}

	#wrapper {
		width: 100%;
		height: 80%;
		margin-bottom: 0%;
        background-color: #444;
	}
	
	#txt {
		margin-left: 38%;
		color: #ddd;
		font-family: OpenSans;
        font-size: 14px;
		font-weight: plain;
		position: absolute;
		top: 64px;
	}

    #msg {
		position: absolute;
		top: 24px;
        margin-left: 43%;
        font-family: OpenSans;
        font-size: 24px;
		font-weight: plain;
    }

    text {
        margin-left: 16px;
	}
	
	form {
        display: block;
        font-family: OpenSans;
        position: absolute;
		top: 100px;
		margin-left: 43%;
        width: 20%;
    }
	
	input {
		margin-left: 16px;
		margin-top: 16px;
		background-color: transparent;
		color: #fff;
		border-bottom: 1px solid #fff;
		border-top: none;
		border-left: none;
		border-right: none;
		font-size: 14px;
	}

	label {
		color: #ccc;
	}

	input::placeholder {
		color: #ccc;
	}

	#error {
		margin-left: 45%;
		margin-top: 24px;
		position: relative;
		font-size: 13px;
	}
	
	#register {
		position: absolute;
		top: 400px;
		left: 0px;
		color: #fff;
		border: 1px solid rgb(0, 255, 0);
		background-color: transparent;
		width: 140px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
		margin-top: 8px;
	}

	#reset {
		position: absolute;
		top: 360px;
		background-color: #777;
		color: #fff;
		border: none;
		border-radius: 4px;
		width: 86px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
		margin-left: 16px;
	}
    
	#backToShop {
        position: absolute;
        top: 510px;
        margin-left: 16px;
        height: 30px;
        width: 120px;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-family: OpenSans;
        z-index: 3;
    }

	#bottom {
		position: relative;
		top: 90%;
		width: 100%;
		height: 20%;
		margin-bottom: 5%;
		background-color: #444;
	}

	#bottom #admin {
		position: relative;
		top: 48px;
		/*left: -300px;*/
		margin-left: 46%;
		height: 30px;
		width: 120px;
		border: 1px solid #777;
		background-color: #777;
		color: #fff;
		z-index: 3;
	}

	#footer {
		width: 100%;
		height: 20%;
		background-color: #444;
	}

}

@media (min-width: 880px) and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 2%;
		margin-right: 20px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 2px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

}


@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

	#carddiv {
		padding-left: 2%;
		padding-right: 8%;
		height: 100px;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 20px;
		margin-right: 2px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
		width: 240px;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 2%;
		color: #fff;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 32px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #admin {
		display: none;
	}

}



