@font-face {
	font-family: OpenSans;
	src: url(./OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

	#main {
		background-color: #000;
		height: 100%;
        min-height: 660px;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: plain;
        color: #fff;
	}

	#backgrImage {
		position: fixed;
        top: 0px;
        left: 8px;
		opacity: 0.4;
		height: 660px;
	}

    #msg {
		position: absolute;
		top: 24px;
        margin-left: 43%;
        font-family: OpenSans;
        font-size: 24px;
		font-weight: plain;
    }
	
	form {
        display: block;
        font-family: OpenSans;
        position: absolute;
		top: 100px;
		margin-left: 43%;
        width: 20%;
    }
	
	input {
		margin-left: 16px;
		margin-top: 16px;
		background-color: transparent;
		color: #fff;
		border-bottom: 1px solid #fff;
		border-top: none;
		border-left: none;
		border-right: none;
		font-size: 14px;
	}

	label {
		color: #ccc;
	}

	input::placeholder {
		color: #ccc;
	}

	#error {
		margin-left: 45%;
		margin-top: 24px;
		position: relative;
		font-size: 13px;
	}
	
	#updateUser {
		position: absolute;
		top: 400px;
		left: 30px;
		color: #fff;
		border: 1px solid rgb(0, 255, 0);
		background-color: transparent;
		width: 140px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
		margin-top: 8px;
	}

	#reset {
		position: absolute;
		top: 360px;
		background-color: #777;
		color: #fff;
		border: none;
		border-radius: 4px;
		width: 86px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
		margin-left: 16px;
	}


}

@media (min-width: 880px) and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 0) {

}


@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

}


@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

}



