<div id="main">
    <div id="heading" align ="center">Health shop</div>
        <h3>ADMINISTRATION</h3>
        <table align="center">
            <tr id="tableHeader">
            <td id="id">Order number</td>
            <td id="a1">Order date</td>
            <td id="a2">First name</td>
            <td id="d1">Last name</td>
            <td id="ar">Articles</td>
            <td id="v">VAT</td>
            <td id="t">Total</td>
            <td id="pr">Shipped</td>
            <td id="pr">Action</td>
            </tr>
            <tr *ngIf="getOrders().length == 0">
                No orders have been placed yet. <br/> 
                Once placed they will be displayed here.
            </tr>
            <tr *ngFor="let order of getOrders(); let i = index">
                <td>{{ order.id }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.firstname }}</td>
                <td>{{ order.lastname }}</td>
                <td>
                    <tr *ngFor="let a of order.articles; let i = index">{{ a.article + ", " + a.size + ", " + a.color  + ", " + a.quantity}}</tr>
                </td>
                <td>{{ order.VAT + "  £"}}</td>
                <td>{{ order.total + "  £"}}</td>
                <td>{{ order.shipped }}</td>
                <td id="edit"><button [routerLink]="['/orders/', order.id]" id="editButton">Edit</button>
                <button (click)="deleteOrder(order.id)" id="deleteButton">Delete</button></td>
            </tr>
        </table>

    <button id="backToShop" routerLink="/admin">Products</button>


</div>