@font-face {
	font-family: OpenSans;
	src: url(../OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

    #main {
        background-color: #444;
        height: 100%;
    }

    #wrapper {
        background-color: #444;
        height: 490px;
    }

    #heading {
        font-family: OpenSans; /*Segoe Print*/
        font-weight: bold;
        font-size: 36px;
        background-color: #444;
        color: #fff;
        height: 61px;
    }

    h2 {
        margin-left: 0%;
        font-family: OpenSans;
        font-weight: bold;
    }

    h3 {
        position: absolute;
        top: 58px;
        left: 48%;
        width: 640px;
        font-family: OpenSans;
        background-color: #444;
        color: #fff;
        text-indent: 4px;
        text-align: left;
    }

    table {
        position: relative;
        top: 100px;
        width: 40%;
        font-family: OpenSans;
        border: 1px solid #000;
        z-index: 2;
    }

    td {
        text-indent: 4px;
        border: none;
    }

    td #a1 {
        width:4%;
        color: #fff;
    }

    td #a2 {
        width:80%;
        color:#000;
    }

    td #q {
        width:2%;
        color:#000;
    }

    td #pr {
        width:14%;
        color: #777;
    }

    tr {
        background-color: #ccc; /*rgb(168, 103, 243); rgb(101, 91, 238);*/
        border: 1px solid #000;
        width:100%;
    }

    #tableHeader {
        background-color: dimgrey;
        color:#fff;
    }

    #footer {
        position: relative;
        background-color: #444;
        height: 92px;
    }

    #footer #backToShop {
        position: absolute;
        top: 40px;
        margin-left: 38%;
        height: 30px;
        width: 120px;
        background-color: #777;
        color: #fff;
        border: none;
        font-family: OpenSans;
    }


    #footer #checkout {
        position: absolute;
        top: 40px;
        margin-left: 48%;
        height: 30px;
        width: 120px;
        background-color: rgb(0, 255, 0);
        color: #fff;
        border: none;
        font-family: OpenSans;
        font-weight: plain;
    }

    #vat {
        background-color: #aaa;
        color:#fff;
    }

    #total {
        background-color: #aaa;
        color:#000;
    }

    input {
        width: 40px;
    }

}

@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

    h3 {
        position: absolute;
        top: 58px;
        left: 45%;
        width: 60px;
        font-family: OpenSans;
        //background-color: #444;
        color: #fff;
        text-indent: 4px;
        text-align: left;
    }

    table {
        position: relative;
        top: 100px;
        width: 340px;
        font-family: OpenSans;
        font-size: 14px;
        border: 1px solid #000;
        z-index: 2;
    }

    #footer #backToShop {
        position: absolute;
        top: -40px;
        margin-left: 12%;
        height: 30px;
        width: 120px;
        background-color: #777;
        color: #fff;
        border: none;
        font-family: OpenSans;
    }


    #footer #checkout {
        position: absolute;
        top: -40px;
        margin-left: 56%;
        height: 30px;
        width: 120px;
        background-color: rgb(0, 255, 0);
        color: #fff;
        border: none;
        font-family: OpenSans;
        font-weight: plain;
        //border: 1px solid #ccc;
    }



}