<div id="main">
    <logo></logo>
    <cartPreview></cartPreview>
    <navigationBar></navigationBar>
<div id="wrapper">

    <h2>{{ getProduct(id).article }}</h2>

    <div align ="left" id="imagediv">
        <img src="{{getProduct(id).imageUrl2}}" (click)="magnify()" width="319px" height="258px"/>
    </div>  
    
    <div id="text">
        {{ getProduct(id).descr }}
        <br><br>
        Manufacturer: {{getProduct(id).brand}}
    </div>

    <div id="price">
        {{ getProduct(id).price | currency:"GBP":true:"1.2-2" }}
    </div>

    <div id="articleNumber">
        Article No: {{ getProduct(id).articleNr }}
    </div>



    <button id="addToCart" (click)="addToCart()">{{'ADD TO CART'}}</button>
    
    <ul align="center">
            <li>
                Materials
            </li>
            <li>
                In stock
            </li>
            <li>
                Available in several colors
            </li>
            <li>
                Shipping possible within Europe
            </li>
    </ul>
        
    
    <div id="sizes">
        Size
            <span id="optionTitle">Select size: </span>
            <select id="options" class="form-control" [value]="s" (change)="onSelect($event.target.value)">
            <option class="spantext" *ngFor="let s of sizes; let i=index">{{s}}</option>
            </select>
    </div>

    <div id="colors">
        Available Colors
            <span id="optionTitle">Select color: </span>
            <select id="options" class="form-control" [value]="c" (change)="onSelect2($event.target.value)">
            <option class="spantext" *ngFor="let c of colors; let i=index">{{c}}</option>
            </select>
    </div>

    <button id="enlarge" (click)="magnify()">Enlarge image</button>
    <div id="imageZoom" *ngIf="enlarge" (click)="return()">
            <div align ="center" id="enlargedImage">
                    <img src="{{getProduct(id).imageUrl2}}" />
            </div> 
            <div id="enlargedImages">
                <img src="assets/images/products/suit2.jpg" width="32%" height="32%" id="images"/>
                <img src="assets/images/products/pants2.jpg" width="32%" height="32%" id="images"/>
                <img src="assets/images/products/shirt2.jpg" width="32%" height="32%" id="image3"/>
        </div> 
        <div id="reviews" *ngFor="let review of getReviews(getProduct(id).articleNr); let i = index">
            <div id="rheader">Reviews:</div> <div id="rstars">{{ review.rating }}</div>
            <div id="rtitle">"{{ review.title }}"</div>
            <div id="rtext">"{{ review.text }}"</div>
            <div id="rname">{{ review.name }}</div>
        </div>
    </div>

<button id="backToShop" routerLink="/shop">Return to shop</button>

 
</div>

<div id="footer">
    
</div>

</div>