@font-face {
	font-family: OpenSans;
	src: url(../OpenSans-Regular.ttf);
}

@media only screen and (max-width: 1380px) {

	#main {
		background-color: #444;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: #006eff;
	}

	img {
		margin-top: 20px;
	}

	#wrapper {
		width: 100%;
		height: 100%;
		margin-bottom: 0%;
		/*background: -webkit-linear-gradient(top, #000000 1%, #C0C0C0 100%);*/ /* proffsig skiftning (inkl heading och main i svart)*/
		background-color: #444;  /* proffsig, kvinnlig design, rosa: #f81bdb; tänkbar lavender: #c51bf8*/
	}

	#departmentsdiv {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		top: 40px;
		margin-top: 20px;
		margin-left: 2%;
	}

	#departmentsdiv #optionMenu3 #genderTitle {
		position: absolute;
		left: 0px;
		top: 60px;
		font-family: OpenSans;
		font-size: 12px;
		color: #fff;
		z-index: 3;
	}

	#departmentsdiv #optionMenu3 #options3 {
		position: absolute;
		left: 0px;
		top: 80px;
		font-family: OpenSans;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
		width: 124px;
		z-index: 3;
	}

	#departmentsdiv #optionMenu #departmentTitle {
		position: absolute;
		left: 0px;
		top: 110px;
		font-family: OpenSans;
		font-size: 12px;
		color: #fff;
		z-index: 3;
	}

	#departmentsdiv #optionMenu #options {
		position: absolute;
		left: 0px;
		top: 130px;
		font-family: OpenSans;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
		width: 124px;
		z-index: 3;
	}

	#departmentsdiv #optionMenu4 #sortTitle {
		position: absolute;
		left: 0px;
		top: 160px;
		font-family: OpenSans;
		font-size: 12px;
		color: #fff;
		z-index: 3;
	}

	#departmentsdiv #optionMenu4 #options4 {
		position: absolute;
		left: 0px;
		top: 180px;
		font-family: OpenSans;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
		width: 124px;
		z-index: 3;
	}

	#departmentsdiv #userLogin {
		position: absolute;
		top: 330px;
		margin-left: 0px;
		color: #fff;
		border: 1px solid rgb(0, 255, 0);
        background-color: transparent;
		width: 124px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
	}

	#departmentsdiv #userRegistration {
		position: absolute;
		top: 370px;
		margin-left: 0px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
		width: 124px;
		height: 24px;
		font-family: OpenSans;
		font-weight: plain;
	}

	#allDepartments {
		display: block;
		position: relative;
		top: 2px;
		margin-bottom: 12px;
		height: 30px;
		width: 124px;
		border: 1px solid #fff;
		background-color: transparent;
		color: #fff;
		z-index: 3;
	}

	#allDepartments:hover{ 
		background-color: #444;
		color: #fff;
	}

	#first {
		position: relative;
		top: 16px;
		padding-left: 13%;
		padding-right: 1%;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
	}

	#squares {
		box-sizing: border-box;
		float: left;
		width: 20%;
		height: 360px;
		background-color: #222; /*rgb(26, 26, 97);*/
		color: #fff;
		border: 1px solid #777;
		font-family: OpenSans;
		font-size: 14px;
	}

	#squares:hover{ 
		background-color: #000;
		color: #fff;
	}

	#squares #image2 {
		margin-top: 20px;
	}

	#squares #title2 {
		margin-top: 4px;
		font-weight: bold;
	}

	#squares #brand2 {
		margin-top: 2px;
		color: #aaa;
		font-size: 13px;
		font-weight: bold;
	}

	#squares #description2 {
		margin-left: 12px;
		margin-right: 12px;
		margin-top: 16px;
		color: #aaa;
		font-size: 12px;
		height: 40px;
	}

	#squares #department2 {
		margin-top: 16px;
		font-size: 12px;
		color: rgb(144, 146, 218);
		font-weight: bold;
	}

	#squares #pricediv2 {
		margin-top: 16px;
		font-weight: bold;
		font-size: 13px;
	}

	#bottom {
		position: relative;
		top: 90%;
		width: 100%;
		height: 30%;
		margin-bottom: 5%;
		background-color: #444;
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: relative;
		left: 0px;
		margin-top: 40px;
		margin-left: 13%;
		color: #fff;
		z-index: 3;
	}

	#bottom #optionMenu #optionTitle {
		font-family: OpenSans;
		font-size: 12px;
	}

	#bottom #optionMenu #options {
		font-family: OpenSans;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom option {
		font-family: OpenSans;
		background-color: #444;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #pagesdiv {
		font-family: OpenSans;
		position: relative;
		margin-top: -23px;
		margin-left: 58%;
		z-index: 3;
	}

	#bottom #pages {
		position: relative;
		top: -30px;
		left: 380px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #pages.active {
		background-color: #ddd;
		color: #000;
	}

	#admin {
		position: relative;
		top: 8px;
		margin-left: 46%;
		height: 30px;
        width: 120px;
		border: 1px solid #ccc;
        background-color: #444;
        color: #fff;
        font-family: OpenSans;
		z-index: 8;
	}

	#second {
		position: relative;
		top: 0px;
		padding-left: 11%;
		padding-right: 2%;
		height: 420px;
		width: 87%;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
	}

	#second #squaresL {
		float: left;
		width: 29%;
		height: 400px;
		background-color: #222; /*rgb(26, 26, 97);*/
		color: #fff;
		//border: 1px solid #777;
	}

	.textad {
		font-family: OpenSans;
		font-size: 30px;
		font-weight: bold;
	}

	#fourth {
		position: relative;
		top: 0px;
		height: 600px;
		width: 100%;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
	}

	#fourth #maintext {
		position: relative;
		top: 60px;
		font-family: OpenSans;
		font-size: 12px;
		font-weight: plain;
		margin-left: 16%;
		margin-right: 16%;
		text-align: justify;
	}

	#fourth img {
		margin-left: 26%;
		margin-right: 26%;
		margin-top: 100px;
	}

	#footer {
		position: relative;
		top: 0px;
		width: 100%;
		height: 22%;
		background-color: #444;
	}

	#footer #firstcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 20px;
		font-family: OpenSans;
	}

	#footer #secondcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 20px;
		font-family: OpenSans;
	}

	#footer #thirdcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 20px;
		font-family: OpenSans;
	}

	#footer #fourthcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 20px;
		font-family: OpenSans;
	}

	#footer ul {
		list-style-type: none;
	}

	#footer ul li {
		margin-top: 8px;
		margin-bottom: 8px;
		color: #777;
		background-color: #000;
	}

	#footer ul li:hover {
		cursor: pointer;
		color: #ccc;
		text-decoration: none;
		transition-property: color;
		transition-duration: 800ms;
		transition-timing-function: ease;
	}

	#footer #bottomrow {
		background-color: #000;
		color: #777;
		font-family: OpenSans;
	}

	#footer #bottomrow #firstrow {
		font-size: 14px;
	}

	#footer #bottomrow .secondrow {
		margin-top: 8px;
		font-size: 14px;
	}
}

@media (min-width: 880px) and (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 0) {

	#squares #department2 {
		font-size: 11px;
		margin-top: 46px;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#departmentsdiv #optionMenu4 {
		display: none;
	}

	#departmentsdiv #userLogin {
		display: none;
	}

	#departmentsdiv #userRegistration {
		display: none;
	}

}

@media (min-width: 480px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 0) {

	#squares {
		font-size: 12px;
	}

	#squares #description2 {
		font-size: 8px;
	}

	#squares #department2 {
		font-size: 9px;
		margin-top: 46px;
	}

	#squares #pricediv2 {
		font-size: 10px;
	}

	#squares #brand2 {
		font-size: 11px;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#departmentsdiv #optionMenu4 {
		display: none;
	}

	#departmentsdiv #userLogin {
		display: none;
	}

	#departmentsdiv #userRegistration {
		display: none;
	}

	#carddiv #imagediv {
		display: none;
	}

	#carddiv #imagediv #image {
		height: 40px;
		width: 40px;
	}

	#carddiv #textdiv {
		display: block;
		margin-left: 2%;
		margin-right: 20px;
		margin-top: 14px;
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: bold;
		font-family: OpenSans;
	}

	#carddiv #textdiv #description {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 2px;
		left: 100px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

}


@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0) {

	#wrapper {
		width: 100%;
		height: 3700px;
		margin-bottom: 0%;
		/*background: -webkit-linear-gradient(top, #000000 1%, #C0C0C0 100%);*/ /* proffsig skiftning (inkl heading och main i svart)*/
		background-color: #444;  /* proffsig, kvinnlig design, rosa: #f81bdb; tänkbar lavender: #c51bf8*/
	}

	#bottom #optionMenu {
		font-family: OpenSans;
		position: absolute;
		left: 0px;
		margin-top: 20px;
		margin-left: 2%;
		margin-bottom: 20px;
		color: #fff;
	}

	#allDepartments {
		display: none;
	}

	#departmentsdiv #optionMenu  {
		display: none;
	}

	#departmentsdiv #optionMenu2  {
		display: none;
	}

	#departmentsdiv #optionMenu3  {
		display: none;
	}

	#departmentsdiv #optionMenu4  {
		display: none;
	}

	#bottom #pages {
		position: relative;
		margin-top: 32px;
		left: 60px;
		background-color: #222;
		color: #fff;
		border: 1px solid #ccc;
	}

	#bottom #admin {
		display: none;
	}

	#bottom {
		position: relative;
		top: 90%;
		width: 100%;
		height: 20%;
		margin-bottom: 40%;
		background-color: #444;
	}

	#second {
		display: none;
	}

	.textad {
		font-family: OpenSans;
		font-size: 14px;
		font-weight: bold;
	}

	#squares {
		float: left;
		width: 100%;
		height: 360px;
		background-color: #222; /*rgb(26, 26, 97);*/
		color: #fff;
		font-family: OpenSans;
		font-size: 14px;
	}

	#departmentsdiv #userLogin {
		position: absolute;
		top: 3700px;
		left: 20px;
	}

	#departmentsdiv #userRegistration {
		position: absolute;
		top: 3740px;
		left: 20px;
	}

	#fourth {
		position: relative;
		top: -200px;
		width: 320px;
		padding-left: 8%;
		padding-right: 8%;
		min-height: 320px;
		background-color: #000; /*rgb(26, 26, 97);*/
		color: #fff;
	}

	#fourth #maintext {
		position: relative;
		top: 100px;
		font-family: OpenSans;
		font-size: 12px;
		font-weight: plain;
		text-align: justify;
	}

	#fourth img {
		position: relative;
		top: 100px;
		margin-top: 2%;
		margin-left: 10%;
		margin-right: 10%;
		width: 60%;
		height: 20%;
	}

	#footer {
		position: relative;
		top: 0px;
		width: 100%;
		height: 22%;
		background-color: #444;
	}

	#footer #firstcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 12px;
		font-family: OpenSans;
	}

	#footer #secondcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 12px;
		font-family: OpenSans;
	}

	#footer #thirdcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 12px;
		font-family: OpenSans;
	}

	#footer #fourthcol {
		width: 25%;
		height: 200px;
		float: left;
		background-color: #000;
		color: #777;
		font-size: 12px;
		font-family: OpenSans;
	}

	#footer ul {
		list-style-type: none;
	}

	#footer ul li {
		margin-top: 8px;
		margin-bottom: 8px;
		color: #777;
		background-color: #000;
	}

	#footer ul li:hover {
		cursor: pointer;
		color: #ccc;
		text-decoration: none;
		transition-property: color;
		transition-duration: 800ms;
		transition-timing-function: ease;
	}

	#footer #bottomrow {
		background-color: #000;
		color: #777;
		font-family: OpenSans;
	}

	#footer #bottomrow #firstrow {
		font-size: 12px;
	}

	#footer #bottomrow #secondrow {
		margin-top: 8px;
		font-size: 12px;
	}

}



