<div id="main">
    <div id="msg" align="center">Register new user</div>
    <div id="txt">Enter your details, select username and password</div>
    <br/> 
    <form novalidate #form="ngForm" [formGroup]="registerForm" (ngSubmit)="submit(form.value)" name="form">
        <fieldset>
            <input type="text" formControlName="firstname" id="ufname" name="firstname" placeholder="Firstname" autocomplete="off"/><br/>  
            <div *ngIf="registerForm.get('firstname').errors && registerForm.get('firstname').touched" id="error">
                <span></span>
                <p>
                {{registerForm.get('firstname').errors.msg || 'Enter first name'}}
                </p>
            </div>

            <input type="text" formControlName="lastname" id="ulname" name="lastname" placeholder="Lastname" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('lastname').errors && registerForm.get('lastname').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('lastname').errors.msg || 'Enter last name'}}
                    </p>
            </div>

            <input type="text" formControlName="street" id="street" name="street" placeholder="Street and street number" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('street').errors && registerForm.get('street').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('street').errors.msg || 'Enter street and street number'}}
                    </p>
            </div>

            <input type="text" formControlName="zipcode" id="zipcode" name="zipcode" placeholder="Zip" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('zipcode').errors && registerForm.get('zipcode').touched" id="error">
                    <span></span>
                    <p>
                    {{'Zip code must consist of 5 digits'}}
                    </p>
            </div>

            <input type="text" formControlName="city" id="city" name="city" placeholder="City" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('city').errors && registerForm.get('city').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('city').errors.msg || 'Enter city'}}
                    </p>
            </div>

            <input type="text" formControlName="country" id="country" name="country" placeholder="Country" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('country').errors && registerForm.get('country').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('country').errors.msg || 'Enter country'}}
                    </p>
            </div>

            <input type="text" formControlName="phone" id="phone" name="phone" placeholder="Phone number" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('phone').errors && registerForm.get('phone').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('phone').errors.msg || 'Enter phone'}}
                    </p>
            </div>

            <input type="email" formControlName="email" id="email" name="email" placeholder="email" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('email').errors && registerForm.get('email').touched" id="error">
                    <span></span>
                    <p>
                    {{registerForm.get('email').errors.msg || 'Enter email'}}
                    </p>
            </div>

            <input type="text" formControlName="username" id="username" name="username" placeholder="Username" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('username').errors && registerForm.get('username').touched" id="error">
                    <span></span>
                    <p>
                    {{'Username must be at least 5 characters'}}
                    </p>
            </div>

            <input type="password" formControlName="password" id="password" name="password" placeholder="Password" autocomplete="off"/><br/>
            <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" id="error">
                <span></span>
                <p>
                {{'Password must contain a special character (!"#¤%&/()=?@£$), a number (0-9) and a cap (A-Z)'}}
                </p>
            </div>
        </fieldset>
    </form>

        <fieldset>
            <div>
                <button id="register" type="submit" (click)="submit(form.value)" (keydown.enter)="submit(form.value)">Register User</button>
                <button id="backToShop" type="button" routerLink="/shop">Return to shop</button>
            </div> 
        </fieldset>
    
</div>